# Copyright 2021 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0

config arch_atmega2560_driver_dmx
bool "DMX"
select meta_driver_dmx

config arch_atmega2560_driver_i2c
bool "I2C"
select meta_driver_hardware_i2c
select meta_driver_i2c

config arch_atmega2560_driver_stdin
bool "UART Input"
select meta_driver_stdin

config arch_atmega2560_driver_timer
bool "Timer with Interrupts"
select meta_driver_timer
