# Copyright 2020 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0

config arch_arduino_nano_cpufreq
int "CPU Frequency"
#!accept [62500, 125000, 250000, 500000, 1000000, 2000000, 4000000, 8000000, 16000000]
range 62500 16000000
default 16000000
help
  Assumes an externel 16MHz crystal to be present

config arch_arduino_nano_driver_adc
bool "ADC (Analog-Digital-Converter)"
select meta_driver_adc

config arch_arduino_nano_driver_i2c
bool "I2C"
select meta_driver_hardware_i2c
select meta_driver_i2c

config arch_arduino_nano_driver_neopixel
bool "WS2812b (NeoPixel)"
select meta_driver_neopixel

config arch_arduino_nano_driver_spi
bool "SPI"
select meta_driver_spi

config arch_arduino_nano_driver_stdin
bool "UART Input"
select meta_driver_stdin

config arch_arduino_nano_driver_timer
bool "Timer with Interrupts"
select meta_driver_timer

config arch_arduino_nano_driver_dmx
bool "DMX"
select meta_driver_dmx

config arch_arduino_nano_driver_dmx_pin
string "DMX Pin"
default "pb5"
depends on arch_arduino_nano_driver_dmx

choice arch_arduino_nano_cpu
bool "CPU Type"

config arch_arduino_nano_mega328
bool "ATMega328"

config arch_arduino_nano_mega168
bool "ATMega168"

endchoice

choice arch_arduino_nano_timer1

bool "Timer 1"
optional

config arch_arduino_nano_driver_uptime
bool "Uptime Counter"
select meta_driver_uptime

config arch_arduino_nano_driver_counter
bool "Cycle Counter"
select meta_driver_counter

endchoice
