# Copyright 2021 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0

prompt "SSD1306 Test"
depends on driver_ssd1306 && driver_ssd1306_mode_vertical
depends on framebuffer
depends on loop
depends on !wakeup
