# Copyright 2020 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0
config arch_msp430fr5969lp_driver_adc
bool "ADC (Analog-Digital-Converter)"
select meta_driver_adc

config arch_msp430fr5969lp_driver_counter
bool "Cycle Counter"
select meta_driver_counter

config arch_msp430fr5969lp_driver_dmx1
bool "DMX Output on eUSCI_A1 / P2.5"
depends on !meta_driver_stdout1
select meta_driver_dmx
select meta_driver_dmx1

config arch_msp430fr5969lp_driver_i2c
bool "I²C on eUSCI_B0 / P1.[67]"
help
  SDA: P1.6
  SCL: P1.7
select meta_driver_hardware_i2c
select meta_driver_i2c

config arch_msp430fr5969lp_driver_spi
bool "SPI on eUSCI_B0"
select meta_driver_spi

config arch_msp430fr5969lp_driver_stdout1
bool "UART Output on eUSCI_A1 / P2.5"
help
  TX: P2.5 (eUSCI_A1 / UCA1TXD)
select meta_driver_stdout1

config arch_msp430fr5969lp_driver_stdin
bool "UART Input on eUSCI_A0 / P2.1"
help
  RX: P2.1 (eUSCI_A0 / UCA0RXD)
select meta_driver_stdin

config arch_msp430fr5969lp_driver_stdin1
bool "UART Input on eUSCI_A1 / P2.6"
help
  RX: P2.6 (eUSCI_A1 / UCA1RXD)
depends on arch_msp430fr5969lp_driver_stdout1
select meta_driver_stdin1

config arch_msp430fr5969lp_driver_timer
bool "Timer with Interrupts"
select meta_driver_timer

config arch_msp430fr5969lp_driver_uptime
bool "Uptime Counter"
select meta_driver_uptime
