# Copyright 2020 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0
config arch_msp430fr5969lp_driver_adc
bool "ADC (Analog-Digital-Converter)"
select meta_driver_adc

config arch_msp430fr5969lp_driver_counter
bool "Cycle Counter"
select meta_driver_counter

config arch_msp430fr5969lp_driver_dmx
bool "DMX"
select meta_driver_dmx

config arch_msp430fr5969lp_driver_i2c
bool "I2C on eUSCI_B0"
select meta_driver_hardware_i2c
select meta_driver_i2c

## broken
#config arch_msp430fr5969lp_driver_spi_a1
#bool "SPI on eUSCI_A1"
#select meta_driver_spi

config arch_msp430fr5969lp_driver_spi
bool "SPI on eUSCI_B0"
select meta_driver_spi

config arch_msp430fr5969lp_driver_stdin
bool "UART Input"
select meta_driver_stdin

config arch_msp430fr5969lp_driver_timer
bool "Timer with Interrupts"
select meta_driver_timer

config arch_msp430fr5969lp_driver_uptime
bool "Uptime Counter"
select meta_driver_uptime
