# Copyright 2020 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0

prompt "Ambient Brightness Logger"
depends on (arch_msp430fr5969lp || arch_msp430fr5994lp) && driver_max44009 && loop && !wakeup
