# Copyright 2022 Birte Kristina Friesel
#
# SPDX-License-Identifier: CC0-1.0
config arch_rm46l8lp_driver_counter
bool "Cycle Counter"
select meta_driver_counter

config arch_rm46l8lp_driver_uptime
bool "Uptime Counter"
select meta_driver_uptime
